/Binary/setup.py
/Binary/runtests
/Binary/res/
/Binary/README.md
/Binary/pre-commit
/Binary/MANIFEST.in
/Binary/doc/
/Binary/deploy.py
/Binary/COPYING
/Binary/cmbootstrap/
/Binary/cherrymusicserver/
/Binary/cherrymusicd
/Binary/cherrymusic-tray
/Binary/cherrymusic
/Binary/CHANGES
/Binary/build_and_test_arch.sh
/Binary/backport/
/Binary/audiotranscode/
/Binary/audioread/
/Binary/.travis.yml
/Binary/.gitignore
